
#pop-over {
    height: 50px;
    width: 50px;
    position: absolute;
    display: none;
    background-image: url("../images/twitter.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
}
