p {
    font-family: $font;
    padding: 0 5px 0 5px;

    @include tablet {
        padding: 0 20px 0 20px;
        text-align: justify;
    }

    @include desktop {
        padding: 0 20px 0 20px;
        text-align: justify;
    }
}

h1 {
    font-family: $font;
    text-align: center;
    font-weight: normal;
}